form {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: $m-size;
  input,
  button {
    width: 25vw;
    font-size: 1.5rem;
  }
  button {
    background: #eacda3;
  }
  label {
    margin-left: $m-size;
  }
}

.form__input {
  display: flex;
  margin: 0 $m-size;
}

.form__error {
  color: red;
}

@media (min-width: $desktop-breakpoint) {
  form {
    button,
    input {
      width: 10vw;
    }
  }
}
